.theme {
    background-color: lightsteelblue;
}

.imageStyle {
    height: 600px;
    width: 500px;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.5);
    margin-left: 20%;
}

section {
    margin-top: 7%;
}

.card {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.content-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
}

.text-style {
    word-wrap: break-word;
    padding: 8%;
    font-size: 20px;
}