.mapouter {
    position: relative;
    text-align: right;
    height: 667px;
    width: 408px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    /* height: 667px;
    width: 408px; */
}

.map-style {
    width: 408px;
    height: 430px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .mapouter {
        position: relative;
        text-align: right;
        height: 420px;
        width: 320px;
    }
    .map-style {
        width: 308px;
        height: 350px;
        padding-left: 10%;
        margin-top: 10px;
    }
}


/* .homeButton{
    margin-left: 80%;
} */