* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    background-color: rgb(248, 248, 247);
}

video {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: linen;
}


/* footer {
    text-align: center;
    background-image: url("bul.jpg");
    opacity: 0.5;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    position: relative;
} */


/* section 2                  */

.section2 {
    margin-top: 6%;
    margin-left: 5%;
}

.introduction {
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 1%;
}

.text-body {
    padding-bottom: 7%;
    padding-right: 5%;
    margin-top: 3%;
}

.wordBreak {
    word-wrap: break-word;
}


/* section 3                   */

.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 2.3em;
    font-family: serif;
    font-style: italic;
    color: darkblue;
}

.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}

.container {
    position: relative;
    /* width: 1200px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .box {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 20px 0;
    box-sizing: border-box;
    overflow: hidden;
}

.container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(400px at center 100px);
    transition: 0.5s;
    transition-delay: 0.5s;
}

.container .box:hover .imgBx {
    clip-path: circle(80px at center 100px);
    transition-delay: 0s;
}

.container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .content {
    position: absolute;
    color: black;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.container .box .content h2 {
    margin: 0;
    padding: 0;
}

.container .box .content a {
    text-decoration: none;
    background: #000;
    color: #fff;
    padding: 5px;
    display: inline-block;
}

.container .box .content h2,
.container .box .content p,
.container .box .content a {
    opacity: 0;
    transition: 0.5s;
    transform: translateY(20px);
}

.container .box:hover .content h2 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s;
}

.container .box:hover .content p {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.7s;
}

.container .box:hover .content a {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.9s;
}

@media (max-width: 600px) {
    .img {
        height: 400px;
        width: 100%;
    }
    .introduction {
        font-size: 12px;
    }
}


/* .Rdiv {
  display: table;
  width: 100%; /*Optional*/


/* table-layout: fixed; /*Optional*/


/* border-spacing: 10px; Optional */


/* }
.Column {
  display: table-cell;
} */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.body-content {
    width: 100%;
    padding: 20px;
    text-align: justify;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 40px;
}