body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}
video {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0;
}
footer {
  text-align: center;
  background-image: url("bul.jpg");
  opacity: 0.5;
  color: #fff;
  padding: 20px 0;
  width: 100%;
  position: relative;
}

/* section 2                  */

.section2 {
  margin-top: 6%;
  margin-left: 5%;
}
.introduction {
  margin-top: 5%;
  padding-top: 3%;
  padding-bottom: 1%;
}
.text-body {
  border: 1px solid black;
  padding-bottom: 7%;
  padding-right: 5%;
  margin-top: 3%;
}

/* section 3                   */

.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 2.3em;
  font-family: serif;
  font-style: italic;
  color: darkblue;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

/* section 4                   */

.container {
  position: relative;
  /* width: 1200px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container .box {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 20px 0;
  box-sizing: border-box;
  overflow: hidden;
}
.container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: circle(400px at center 100px);
  transition: 0.5s;
  transition-delay: 0.5s;
}
.container .box:hover .imgBx {
  clip-path: circle(80px at center 100px);
  transition-delay: 0s;
}
.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .box .content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 55%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.container .box .content h2 {
  margin: 0;
  padding: 0;
}
.container .box .content a {
  text-decoration: none;
  background: #000;
  color: #fff;
  padding: 5px;
  display: inline-block;
}
.container .box .content h2,
.container .box .content p,
.container .box .content a {
  opacity: 0;
  transition: 0.5s;
  transform: translateY(20px);
}
.container .box:hover .content h2 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}
.container .box:hover .content p {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.7s;
}
.container .box:hover .content a {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.9s;
}

@media (max-width: 600px) {
  .img {
    height: 400px;
    width: 100%;
  }
  .introduction {
    font-size: 12px;
  }
}
/* .Rdiv {
  display: table;
  width: 100%; /*Optional*/
/* table-layout: fixed; /*Optional*/
/* border-spacing: 10px; Optional */
/* }
.Column {
  display: table-cell;
} */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.body-content {
  width: 100%;
  padding: 20px;
  text-align: justify;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 40px;
}

.footer {
  width: 100%;
  background-image: url("../images/bul.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  opacity: 0.9;
  display: block;
}

.inner-footer {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
}

h1 {
  padding: 10px 0;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
}

.footer-items p {
  color: rgb(112, 206, 159);
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
}

h2 {
  margin: 10px 0;
  color: grey;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
}

.border {
  height: 2px;
  width: 40px;
  background: #ff9800;
}

ul {
  list-style: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
}

ul a {
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: 0.3s;
}

ul a:hover {
  color: #ff9800;
}

ul li {
  margin: 10px 0;
  height: 25px;
}

li i {
  margin-right: 20px;
}

.social-media {
  width: 100%;
  color: #fff;
  text-align: center;
}

.social-media a {
  text-decoration: none;
}

.social-media i {
  /* height: 15px;
  width: 15px; */
  margin: 20px 5px;
  padding: 10px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid grey;
  transition: 0.3s;
}

.social-media i:hover {
  background: grey;
}

.footer-bottom {
  padding: 10px;
  background: #3d545f;
  color: #fff;
  font-size: 12px;
}

@media screen and (max-width: 1085px) {
  .footer-items {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .footer-items {
    width: 100%;
  }
}

Displaying home.css.