                                    /* .text-style {
    word-wrap: break-word;
    padding: 5%;
    padding-right: 3%;
}

.text-style p {
    font-weight: bold;
}

.card-deck {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
} */
                                
                                .card-sustain-logo {
                                    position: relative;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -ms-flex-direction: column;
                                    flex-direction: column;
                                    min-width: 0;
                                    word-wrap: break-word;
                                    background-clip: border-box;
                                    align-items: center;
                                }
                                
                                .logo-img {
                                    height: 350;
                                    width: 350;
                                }
                                
                                .logo-text {
                                    font-size: 40px;
                                    font-weight: bold;
                                }
                                /*                 
                .card:hover {
                    background-image: url("../images/bul.jpg");
                    color: white;
                }
                
                .side-menu {
                    background-color: #a5d6a7;
                    color: black;
                    font-weight: bold;
                } */
                                
                                .img-text {
                                    position: relative;
                                    text-align: center;
                                    color: white;
                                }
                                
                                .textHeading {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                                /* @media (min-width: 1481px) {
                        .text-style h3 {
                            font-family: Georgia, Times, serif;
                            padding-left: 5%;
                            padding-bottom: 5%;
                        }
                        .text-style ul li {
                            color: black;
                            font-size: 20px;
                            margin-bottom: 5%;
                            padding-bottom: 2%;
                        }
                        .text-style p {
                            font-size: 18px;
                            margin-left: 5%;
                            padding-top: 2%;
                        }
                    } */
                                
                                @media (min-width: 768px) and (max-width: 1480px) {
                                    .imgStyle {
                                        height: 400px;
                                    }
                                    /* .text-style h3 {
        font-family: Georgia, Times, serif;
        padding-left: 5%;
        padding-bottom: 5%;
    }
    .text-style ul li {
        color: black;
        font-size: 16px;
        margin-bottom: 5%;
        padding-bottom: 2%;
    }
} */
                                    @media (min-width: 320px) and (max-width: 767px) {
                                        .imgStyle {
                                            height: 300px;
                                        }
                                        /* .text-style h3 {
        font-family: Georgia, Times, serif;
        padding-left: 5%;
        padding-bottom: 5%;
        font-size: 20px;
    }
    .text-style ul li {
        color: black;
        font-size: small;
        margin-top: 10%;
    }
    .text-style p {
        font-size: 14px;
        margin-left: 5%;
    } */
                                        .logo-text {
                                            font-size: 18px;
                                            font-weight: bold;
                                        }
                                        .logo-img {
                                            height: 250;
                                            width: 250;
                                        }
                                    }
                                    /*    card  slider  */
                                    /* @media (min-width: 768px) {
                                .carousel-inner .active,
                                .carousel-inner .active+.carousel-item,
                                .carousel-inner .active+.carousel-item+.carousel-item {
                                    display: block;
                                }
                                .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
                                .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
                                .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
                                    transition: none;
                                }
                                .carousel-inner .carousel-item-next,
                                .carousel-inner .carousel-item-prev {
                                    position: relative;
                                    transform: translate3d(0, 0, 0);
                                }
                                .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
                                    position: absolute;
                                    top: 0;
                                    right: -33.3333%;
                                    z-index: -1;
                                    display: block;
                                    visibility: visible;
                                }
                                .active.carousel-item-left+.carousel-item-next.carousel-item-left,
                                .carousel-item-next.carousel-item-left+.carousel-item,
                                .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
                                .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
                                    position: relative;
                                    transform: translate3d(-100%, 0, 0);
                                    visibility: visible;
                                }
                                .carousel-inner .carousel-item-prev.carousel-item-right {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    z-index: -1;
                                    display: block;
                                    visibility: visible;
                                }
                                .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
                                .carousel-item-prev.carousel-item-right+.carousel-item,
                                .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
                                .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
                                    position: relative;
                                    transform: translate3d(100%, 0, 0);
                                    visibility: visible;
                                    display: block;
                                    visibility: visible;
                                }
                            } */